.ui-block-sprite-sidebar-frame {
  > .header {
    > .title {
      display: flex;
      flex-direction: row;
      > .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        > .row {
          display: flex;
          flex-direction: row;
          > .identifier {
            font-weight: 600;
            margin-right: 5px;
            &:after {
              margin-left: 5px;
              font-weight: 400;
              content: '•';
            }
          }
        }
        > .frame {
          font-weight: 600;
        }
      }
      > .accessories {
        margin-left: 5px;
        > .icon {
          font-size: 12px;
        }
      }
    }
  }
}
