{{#ui-block/tabs class="tabs" selected=selected select=(action "select") as |tabs|}}
  {{tabs.tab label="Frame"  id="frame"  component=(component "ui-block/sprite/inspector/frame"  state=state)}}
  {{tabs.tab label="Sprite" id="sprite" component=(component "ui-block/sprite/inspector/sprite" state=state)}}
{{/ui-block/tabs}}

{{#if state.frame}}
  <div class="footer">
    {{ui-block/scene/pixel pixel=state.pixel update=(action "pixel") center=(action "center")}}
  </div>
{{/if}}