.ui-block-tabs {
  display: flex;
  flex-direction: column;
  > .tabs {
    border-bottom: 1px solid darken(#fff, 15%);
    display: flex;
    flex-direction: row;
    > .tab {
      > .label {
        padding: 10px 10px;
        color: #999;
      }
      &.selected {
        > .label {
          color: #000;
          font-weight: $font-bold;
        }
      }
    }
  }
  > .content {
    flex: 1;
    position: relative;
    > .overflow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
  }
}
