{{ui-block/world/tree/content/layer state=state layer=layer select=(action 'select')}}

<div class="nodes">
  {{#each layer.nodes as |node|}}
    {{ui-block/world/tree/scene/layer/node state=state node=node}}
  {{/each}}
</div>