.ui-route-projects-index {
  > .header {
    font-weight: 600;
    margin: 15px 15px 10px 15px;
  }
  > .projects {
    > .project {
      padding: 10px 15px;
      &:hover {
        background: fade-out(#000, 0.96);
      }
    }
  }
  > .placeholder {
    margin: 15px;
  }
  > .actions {
    margin: 15px;
  }
}
