<div class="preview">
  {{ui-block/background-image url=sprite.thumbnail class="thumbnail"}}
</div>
<div class="details">
  <div class="name">{{sprite.name}}</div>
  <div class="identifier">{{sprite.identifier}}</div>
  <div class="size">{{size sprite.size "px"}}</div>
</div>
