{{#if sprites.models}}
  {{#each sprites.models as |sprite|}}
    {{ui-block/world/sidebar/sprites/sprite state=state sprite=sprite selected=(eq sprite selected) select=(action "select" sprite)}}
  {{/each}}
{{else}}
  <div class="placeholder">No sprites</div>
{{/if}}