<div class="content">
  {{#ui-konva/autosized class="autosized" as |autosized|}}

    {{#ui-konva/stage
      class="stage"
      size=autosized
      created=(action "created")
      destroying=(action "destroying")
      onClick=(action "deselect")
      draggable=draggable
    }}

      {{#ui-konva/layer}}
        {{ui-konva/rect props=(hash
          x=(mul 0 project.pixel)
          y=(mul 0 project.pixel)
          width=(mul 50 project.pixel)
          height=(mul 50 project.pixel)
          fill="rgba(255,0,0,0.1)")
        }}
      {{/ui-konva/layer}}

    {{/ui-konva/stage}}
  {{/ui-konva/autosized}}
</div>