<div class="content">
  {{#ui-konva/autosized class="autosized" as |autosized|}}

    {{#ui-konva/stage
      class="stage"
      size=autosized
      created=(action "created")
      destroying=(action "destroying")
      onClick=(action "deselect")
      draggable=draggable
    }}

      {{#ui-konva/layer props=(hash zIndex=0)}}
        {{#each project.scenes.ordered as |scene index|}}
          {{ui-konva/rect props=(hash
            x=scene.pixelFrame.x
            y=scene.pixelFrame.y
            width=scene.pixelFrame.width
            height=scene.pixelFrame.height
            fill="rgba(255,0,0,0.1)")
          }}
        {{/each}}
      {{/ui-konva/layer}}

      {{#ui-konva/layer props=(hash zIndex=1)}}
        {{#each project.sprites.ordered as |sprite index|}}
          {{ui-konva/rect props=(hash
            x=sprite.pixelFrame.x
            y=sprite.pixelFrame.y
            width=sprite.pixelFrame.width
            height=sprite.pixelFrame.height
            fill="rgba(0,255,0,0.1)")
          }}
        {{/each}}
      {{/ui-konva/layer}}

    {{/ui-konva/stage}}
  {{/ui-konva/autosized}}
</div>