<div class="label">{{label}}</div>
<div class="items">
  <div class="item">
    <div class="label">Width</div>
    {{ui-block/input value=value.width enter=(action "update" "width") disabled=disabled delayed=true}}
  </div>
  <div class="item">
    <div class="label">Height</div>
    {{ui-block/input value=value.height enter=(action "update" "height") disabled=disabled delayed=true}}
  </div>
</div>