.ui-block-sprite-frame-editor {
  display: flex;
  flex-direction: column;
  > .autosized {
    flex: 1;
    > .stage {
      > .content {
        background: fade-out(#000, 0.9);
      }
    }
  }
}
