.ui-block-project-worlds {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  gap: 10px;
  > .world {
    height: 125px;
    border: 1px solid darken(#fff, 20%);
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    > .details {
      padding: 2px 3px 2px 3px;
      > .name {
        font-weight: 600;
      }
    }
    &:hover {
      background: fade-out(#000, 0.99);
      border: 1px solid darken(#fff, 30%);
    }
  }
}
