<div class="label">{{label}}</div>
<div class="axis">
  {{ui-block/check-mark value=value.horizontal update=(action "update" "horizontal")}}
  <div class="label">Horizontal</div>
</div>
<div class="axis">
  {{ui-block/check-mark value=value.vertical update=(action "update" "vertical")}}
  <div class="label">Vertical</div>
</div>