<div class="master">
  {{ui-block/sprite/frame/editor
      class="editor"
      pixel=state.pixel
      frame=state.frame
      disabled=sprite.locked
      created=(action "created")
      update=(action "setPixel" state.frame)
      resize=(action "resize")
  }}
  {{ui-block/sprite/sidebar class="sidebar" state=state}}
</div>
<div class="footer">
  {{ui-block/sprite/frames class="frames" state=state}}
</div>