.ui-block-project-sidebar-tree {

  .ui-block-project-sidebar-tree-entity {
    > .entity {
      display: flex;
      flex-direction: row;
      align-items: center;
      > .expand {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 5px 0 10px;
        > .icon {
          width: 12px;
        }
      }
      > .content {
        flex: 1;
        overflow: hidden;
        > .line {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      > .accessories {
        display: flex;
        flex-direction: row;
        > .icon {
          margin-left: 7px;
          width: 15px;
        }
      }
      padding: 5px 8px 5px 0;
      border-bottom: 1px solid fade-out(#000, 0.9);
    }
    > .entities {
    }
  }

  @mixin level($level) {
    > .entity {
      > .expand {
        width: 12px + ($level * 10px);
      }
    }
  }

  .ui-block-project-sidebar-tree-entity {
    @include level(0);
    .ui-block-project-sidebar-tree-entity {
      @include level(1);
      .ui-block-project-sidebar-tree-entity {
        @include level(2);
        .ui-block-project-sidebar-tree-entity {
          @include level(3);
        }
      }
    }
  }

}
