.ui-block-world-tree {
  width: 220px;

  background: darken(#fff, 0.7%);
  border-right: 1px solid darken(#fff, 25%);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  > .tree {
    flex: 1;

    .ui-block-world-tree-row-content {
      padding: 5px 10px 5px 15px;
      > .strong {
        font-weight: 600;
      }
    }

  }

}
