{{#each state.world.scenes as |scene|}}
  <div>{{scene}}</div>
  {{#each scene.layers as |layer|}}
    <div>{{layer}}</div>
    {{#each layer.nodes as |node|}}
      <div>{{node}}</div>
    {{/each}}
  {{/each}}
{{/each}}