{{ui-block/world/tree/content/scene state=state scene=scene select=(action 'select')}}

<div class="layers">
  {{#each scene.layers as |layer|}}
    {{ui-block/world/tree/scene/layer state=state layer=layer}}
  {{/each}}
</div>