<div class="content">
  {{#if model.error}}
    <div class="row error">
      {{model.error.message}}
    </div>
  {{/if}}
  <div class="row">
    <div class="label">Email</div>
    {{ui-block/input value=model.email type="email" disabled=model.isBusy update=(action "update" "email")}}
  </div>
  <div class="row">
    <div class="label">Password</div>
    {{ui-block/input value=model.password type="password" disabled=model.isBusy update=(action "update" "password")}}
  </div>
  <div class="row">
    {{ui-block/button value="Sign up" disabled=model.isDisabled action=(action "save")}}
  </div>
</div>