.ui-block-pixels-editor {
  display: inline-flex;
  > .content {
    border: 1px solid fade-out(#000, 0.9);
    background-color: fade-out(#000, 0.8);
    border-radius: 2px;
    padding: 1px;
    overflow: hidden;
    > .rows {
      > .row {
        display: flex;
        flex-direction: row;
        > .pixel {
          &.white {
            background: #fff;
          }
          &.black {
            background: fade-out(#000, 0.1);
            color: #fff;
          }
        }
      }
    }
  }

  @mixin size($s) {
    > .content {
      > .rows {
        > .row {
          > .pixel {
            min-width: $s;
            width: $s;
            height: $s;
          }
        }
      }
    }
  }

  &.size-regular {
    @include size(16px);
  }
  &.size-small {
    @include size(10px);
  }
}
