.ui-block-world-sidebar-tree {
  display: flex;
  flex-direction: column;
  > .tree {
    flex: 1;
    .ui-block-world-sidebar-tree-row {
      display: flex;
      flex-direction: row;
      > .accessories {
        padding: 0 12px 0 0;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        > .icon {
          margin-right: 5px;
          width: 14px;
          text-align: center;
          &:last-child {
            margin-right: 0;
          }
          &.lock {
            opacity: 0.3;
          }
          &.hidden {
            opacity: 0.2;
          }
          transition: opacity 0.2s ease-in-out;
        }
      }
      transition: opacity 0.2s ease-in-out;
      &.hidden {
        opacity: 0.4;
        > .accessories {
          > .icon {
            &.hidden {
              opacity: 1;
            }
          }
        }
      }
      &.locked {
        > .accessories {
          > .icon {
            &.lock {
              opacity: 1;
            }
          }
        }
      }
    }
    .ui-block-world-sidebar-tree-row-content {
      padding: 5px 10px;
      > .strong {
        font-weight: 600;
      }
    }
  }
  > .placeholder {
    margin: 10px;
  }
}
