{{#if state.world.scenes}}

  {{#ui-block/tree class="tree" select=(action "select") selected=state.selection as |row|}}
    {{#each state.world.scenes as |scene|}}
      {{#row model=scene class="scene" content=(component "ui-block/world/sidebar/tree/content/scene" state=state scene=scene) as |row|}}
        {{#each scene.layers as |layer|}}
          {{#row model=layer class="layer" content=(component "ui-block/world/sidebar/tree/content/layer" state=state layer=layer) as |row|}}
            {{#each layer.nodes as |node|}}
              {{row model=node class="node" content=(component "ui-block/world/sidebar/tree/content/node" state=state node=node)}}
            {{/each}}
          {{/row}}
        {{/each}}
      {{/row}}
    {{/each}}
  {{/ui-block/tree}}

{{else}}

  <div class="placeholder">No scenes</div>

{{/if}}