.ui-block-tabs {
  display: flex;
  flex-direction: column;
  > .tabs {
    height: 33px;
    border-bottom: 1px solid darken(#fff, 15%);
    display: flex;
    flex-direction: row;
    > .tab {
      > .label {
        padding: 10px 15px;
        color: #999;
      }
      &.selected {
        > .label {
          color: #000;
          font-weight: $font-bold;
        }
      }
    }
  }
  > .content {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
