.ui-route-projects-project-index {
  > .title {
    margin: 15px 15px 30px 15px;
    font-weight: 600;
  }
  > .section {
    margin: 15px 15px 45px 15px;
    > .title {
      font-weight: 600;
      margin-bottom: 5px;
    }
    > .actions {
      margin-top: 10px;
    }
  }
}
