<div class="title">{{project.title}}</div>

<div class="section">
  <div class="title">Sprites</div>
  {{ui-block/project/sprites sprites=project.sprites class="sprites" select=(action "sprite")}}
  <div class="actions">
    {{ui-block/button value="Add new sprite" action=(action "newSprite")}}
  </div>
</div>