<div class="title">{{project.title}}</div>

<div class="sprites">
  {{#each project.sprites.models as |sprite|}}
    <div class="sprite" {{action "sprite" sprite}} role="button">
      <div class="name">{{sprite.name}}</div>
      <div class="identifier">{{sprite.identifier}}</div>
    </div>
  {{/each}}
</div>