<div class="title">{{project.title}}</div>

<div class="section">
  <div class="title">Worlds</div>
  <div class="actions">
    {{ui-block/button value="Add new world" action=(action "addWorld")}}
  </div>
</div>

<div class="section">
  <div class="title">Sprites</div>
  {{ui-block/project/sprites sprites=project.sprites select=(action "selectSprite")}}
  <div class="actions">
    {{ui-block/button value="Add new sprite" action=(action "addSprite")}}
  </div>
</div>