.ui-block-segments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  padding: 1px;
  line-height: 1;
  > .segment {
    padding: 5px 7px 6px 7px;
    border-radius: 3px;
    text-align: center;
    &.selected {
      background: #222;
      color: #fff;
    }
  }
}
