<div class="selected">
  {{yield (hash
    item=selected
    component=(component "ui-block/drop-down/item" item=item selected=true select=(action "toggle"))
    selected=true
  )}}
</div>

{{#if expanded}}
  <div class="dropdown">
    {{#each items as |item|}}
      {{yield (hash
        item=item
        component=(component "ui-block/drop-down/item" item=item selected=(eq item selected) select=(action "select" item))
        selected=(eq item selected)
      )}}
    {{/each}}
  </div>
{{/if}}
