.ui-route-editors-editor-index {
  flex: 1;
  display: flex;
  flex-direction: row;
  > .editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    > .autosized {
      flex: 1;
    }
  }
  > .sidebar {
    border-left: 1px solid darken(#fff, 15%);
    background: darken(#fff, 2%);
    width: 200px;
    overflow-x: hidden;
    > .section {
      margin: 5px 5px 10px 5px;
      > .row {
        margin: 0 0 5px 0;
      }
    }
  }
}
