<div class="content">
  {{#ui-konva/autosized class="autosized" as |autosized|}}
    {{#ui-konva/stage class="stage" size=autosized created=(action "created")}}
      {{#ui-konva/layer}}

        {{#each state.scenes as |scene|}}
          {{ui-konva/rect props=(hash
              x=0
              y=0
              width=scene.size.width
              height=scene.size.height
              fill="rgba(255,0,0,0.1)"
          )}}
        {{/each}}

      {{/ui-konva/layer}}
    {{/ui-konva/stage}}
  {{/ui-konva/autosized}}
</div>