<div class="content">
  {{#ui-konva/autosized class="autosized" as |autosized|}}

    {{#ui-konva/stage
        class="stage"
        size=autosized
        created=(action "created")
        onClick=(action "onStageClick")
    }}

      {{#ui-konva/layer}}

        {{#ui-konva/group props=(hash x=15 y=15)}}

          {{#each state.world.scenes as |scene|}}
            {{ui-konva/world/scene
                scene=scene
                pixel=state.pixel
                selected=(eq selectedScene scene)
                select=(action "select")
                update=(action "update")
            }}
          {{/each}}

        {{/ui-konva/group}}

      {{/ui-konva/layer}}
    {{/ui-konva/stage}}
  {{/ui-konva/autosized}}
</div>