.ui-block-project-details-type-sprites-sprite-frames {
  display: flex;
  flex-direction: row;
  position: relative;
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    > .frames {
      flex: 1;
      display: flex;
      flex-direction: row;
      > .frame {
        padding: 5px 10px 5px 10px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #ddd;
        > .preview {
          flex: 1;
          display: flex;
          justify-content: center;
        }
        > .details {
          margin-top: 2px;
        }
        border-top: 3px solid rgba(0,0,0,0);
        &.selected {
          border-top: 3px solid fade-out(#000, 0.2);
        }
      }
    }
  }
}
