.ui-block-world-sidebar-sprites {
  > .placeholder {
    margin: 10px;
  }
  > .sprite {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid fade-out(#000, 0.9);
    > .preview {
      margin-bottom: -1px;
      border-bottom: 1px solid fade-out(#000, 0.95);
      background-color: #ddd;
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      > .thumbnail {
        width: 36px;
        height: 36px;
        background-size: contain;
        image-rendering: pixelated;
      }
    }
    > .details {
      flex: 1;
      padding: 5px 10px;
      > .identifier {
        font-weight: 600;
      }
    }
    &:hover {
      > .details {
        background: fade-out(#000, 0.98);
      }
    }
    &.selected {
      > .details {
        background: fade-out(#000, 0.95);
      }
    }
  }
}
