.ui-block-sprites-preview {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darken(#fff, 30%);
  &.padded {
    padding: 5px 0;
    margin: -1px 0;
    position: relative;
    @mixin stroke() {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background: darken(#fff, 30%);
    }
    &:before {
      top: 0;
      @include stroke;
    }
    &:after {
      bottom: 0;
      @include stroke;
    }
  }
  > .canvas {
    image-rendering: pixelated;
    &.hidden {
      display: none;
    }
  }
}
