.ui-dialog-alert {
  min-width: 300px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  > .message {
    flex: 1;
    margin: 15px;
  }
  > .actions {
    user-select: none;
    width: 100%;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: row;
    > .left {
      padding-left: 5px;
      align-self: center;
      font-weight: 700;
    }
    > .right {
      flex: 1;
      text-align: right;
    }
  }
}
