@mixin ui-block-button() {
  -webkit-appearance: none;
  background: #222;
  color: #fff;
  border: 1px solid #222;
  outline: none;
  border-radius: 3px;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1;
  padding: 5px 7px 6px 7px;
  transition: color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
  text-decoration: none;
  &:disabled,
  &.disabled {
    color: transparent;
    text-shadow: 0 0 1px rgba(255,255,255,0.4);
  }
}

.ui-block-button {
  @include ui-block-button();
}
