{{ui-block/project/sidebar project=project class="tree"}}
<div class="center">
  {{ui-block/project/editor project=project class="editor"}}
  {{ui-block/project/details project=project class="details"}}
</div>
{{ui-block/project/inspector project=project class="inspector"}}