.ui-block-project-inspector-selection-tab.loops {
  > .sidebar {
    > .loops {
      > .content {
        > .loop {
          padding: 10px;
          border-bottom: 1px solid fade-out(#000, 0.9);
          &:last-child {
            border-bottom: none;
          }
          > .preview {
            margin-bottom: 5px;
            background-color: fade-out(#000, 0.95);
            padding: 5px;
          }
          > .identifier {
            font-weight: 600;
          }
        }
      }
    }
  }
}
