<div class="label">{{label}}</div>
{{#ui-block/drop-down class="dropdown" disabled=disabled items=items selected=selected select=(action "select") as |hash|}}
  {{hash.component value=hash.item.label}}
{{/ui-block/drop-down}}
