{{#if state.scene}}

  <div class="section">
    <div class="row">
      {{state.scene}}
    </div>
  </div>

{{else}}

  <div class="section">
    <div class="row placeholder">
      No selection
    </div>
  </div>

{{/if}}
