@keyframes autofill {
  to {
    background: transparent;
  }
}

@mixin ui-input-autofill() {
  &:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
  }
}

.ui-block-input {
  @include ui-input-autofill();
  -webkit-appearance: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-bold;
  line-height: 1;
  padding: 4px 6px 3px 6px;
  outline: none;
  width: 100%;
}
