.ui-block-project-inspector-tabs-sprite-loops {
  > .content {
    > .section {
      > .loops {
        > .loop {
          margin: 0 0 15px 0;
          > .identifier {
            margin: 5px 10px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
