{{#ui-block/tabs class="tabs" selected=selected select=(action "select") as |tabs|}}
  {{tabs.tab label="Selection" id="selection" component=(component "ui-block/world/sidebar/selection"  state=state)}}
  {{tabs.tab label="World"     id="world"     component=(component "ui-block/world/sidebar/world" state=state)}}
{{/ui-block/tabs}}

<div class="footer">
  {{ui-block/scene/tools pixel=state.pixel update=(action 'pixel') center=(action 'center')}}
</div>
