.ui-block-tree {
  .ui-block-tree-row {
    > .content {
      border-bottom: 1px solid fade-out(#000, 0.95);
    }

    &.selected {
      > .content {
        background: fade-out(#000, 0.97);
      }
    }

    @mixin level($level) {
      &.level-#{$level} {
        > .content {
          padding-left: $level * 10px;
        }
      }
    }

    @include level(0);
    @include level(1);
    @include level(2);
    @include level(3);
    @include level(4);
  }
}
