.ui-block-scene-tools {
  display: flex;
  flex-direction: column;
  > .pixel {
    > .label {
      margin-bottom: 1px;
    }
    > .content {
      display: flex;
      flex-direction: row;
      > .slider {
        margin-right: 5px;
      }
      > .input {
        width: 40px;
      }
    }
    margin-bottom: 5px;
  }
  > .actions {
    > .label {
      margin-bottom: 1px;
    }
    > .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
      grid-gap: 5px;
    }
  }
}
