<div class="pixel">
  <div class="label">Pixel size</div>
  <div class="content">
    {{ui-block/slider class="slider" min=1 max=32 value=pixel update=(action "update")}}
    {{ui-block/input class="input" value=pixel enter=(action "update") delayed=true}}
  </div>
</div>
<div class="actions">
  <div class="label">Content</div>
  <div class="content">
    {{ui-block/button value="Center" action=(action "center")}}
    {{ui-block/button value="Fit" disabled=true}}
  </div>
</div>