.ui-block-slider {
  -webkit-appearance: none;
  width: 100%;
  outline: none;
  margin: 0;
  $height: 24px;
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $height;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 2px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $height - 6px;
    width: $height * 1.5;
    border-radius: 4px;
    background: #333;
  }
}
